<div class="footer">
    <div class="container-footer">
        <div class="footer_info">
            <div class="footer_stores">
                <!-- <a class="medium-button medium-button__android" href="https://play.google.com/store/apps/details?id=ru.forblitz&hl=ru&gl=US">
                    <span class="medium-button_text">
                        Загрузите на<span class="medium-button_store-name">ForBlitz</span>
                    </span>
                </a> -->
            </div>
            <div class="footer_social">
                <p class="footer_title" style="margin-left: -120px;padding-top: 15px;">Будь на связи</p>
                <ul class="social">
                    <li class="social_item"><a href="https://discord.gg/6wstW87FPX" class="social_link social_link__fb">fb</a></li>
                    <li class="social_item"><a href="https://t.me/mr_bendy" class="social_link social_link__tw">tw</a></li>
                    <li class="social_item"><a href="https://vk.com/mr.bendy" class="social_link social_link__vk">vk</a></li>
                    <li class="social_item"><a href="https://openvk.su/mrb" class="social_link social_link__vb">vb</a></li>
                    </ul>
            </div>
        </div>
        <div class="footer_main-wrap">
            <div class="footer_main-wrap">
                <div class="footer_main">
                    <ul class="footer-menu">
                        <li class="footer-menu_item"><a class="footer-menu_link" href="https://legal.tanksblitz.info/eula/">Пользовательское соглашение</a></li>
                        <li class="footer-menu_item"><a class="footer-menu_link" href="https://legal.tanksblitz.info/privacy-policy/">Политика конфиденциальности</a></li>
                        <li class="footer-menu_item"><a class="footer-menu_link" href="https://tanksblitz.ru/ru/content/docs/system-requirements/">Системные требования</a></li>
                    </ul><a class="footer_logo"
                        href="https://eu.wargaming.net/ru/">Wargaming.net</a>
                    <div class="footer_copyright">
                        <span class="footer_text">2019–2025 "Blitz Classic"<br>Не является официальным проектом Wargaming.net / Lesta Games.
                            <br>Все оформления принадлежат их соответствующим правообладателям.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>