<div class="box-shadow">
    <h2 class="box-shadow-header">
        Важные новости
    </h2>
    <div class="box-shadow-content">
        {% for post in site.tags.important | limit: 5 %}
            <ul class="forumlist">
                <li class="forumlist-item">
                    <div class="news-imp">
                        <div>
                            <a href="{{ post.url | relative_url }}" class="img-imp-link">{{ post.title }}</a>
                            {% assign category = post.categories[0] %}
                            <div class="news-imp-time">{{ site.data.categories[category] }}</div>
                        </div>
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>
</div>