---
layout: default
---

<div class="slide-toggle js-slide-toggle" data-item-current-class="slide-toggle_item__current"
    data-item-disabled-class="slide-toggle_controls__disabled">
    <span class="slide-toggle_item js-bullet slide-toggle_item__current" data-state="1">1</span>
    <span class="slide-toggle_item js-bullet" data-state="2">2</span>
    <span class="slide-toggle_item js-bullet" data-state="3">3</span>
    <span class="slide-toggle_item js-bullet" data-state="4">4</span>
    <span class="slide-toggle_item js-bullet" data-state="5">5</span>
    <span class="slide-toggle_controls js-bullet-up slide-toggle_controls__disabled">Предыдущий</span>
    <span class="slide-toggle_controls js-bullet-down  slide-toggle_controls__bottom">Следующий</span>
</div>



<div class="page">





    <div class="global-navigation">
        <div class="global-navigation_nav">
            <div class="container">
                <ul class="global-nav global-nav__service">







                    <li class="global-nav_item global-nav_item__pc">
                        <a class="global-nav_link js-global-nav-link" href="https://muramiha.github.io/">
                            <span class="global-nav_bg global-nav_bg__home">
                                <span class="global-nav_home-ico"></span>
                            </span>
                        </a>
                    </li>



                    <li
                        class="global-nav_item global-nav_item__pc js-global-nav-item-link-all_links js-global-nav-item-link-games">

                    </li>

                    <li class="global-nav_item global-nav_item__pc">
                        <a class="global-nav_link" href="https://www.guilded.gg/i/kgNAXxV2">
                            <span class="global-nav_bg">Guilded</span>
                        </a>
                    </li>

                    <li class="global-nav_item global-nav_item__pc">
                        <a class="global-nav_link"
                            href="https://forum.iblitzmods.ru/topic/325-blitz-classic-lampovyy-world-of-tanks-blitz">
                            <span class="global-nav_bg">Форум</span>
                        </a>
                    </li>
                    <li class="global-nav_item global-nav_item__pc">
                        <a class="global-nav_link" href="https://iblitzmods.ru/">
                            <span class="global-nav_bg">iBlitz</span>
                        </a>
                    </li>
                    <li class="global-nav_item global-nav_item__pc">
                        <a class="global-nav_link" href="https://forblitz.ru/">
                            <span class="global-nav_bg">ForBlitz</span>
                        </a>
                    </li>






                </ul>



            </div>
        </div>

        <div class="global-navigation_submenu">


            <div class="global-submenu js-global-submenu js-global-nav-link-all_links">
                <div class="global-submenu_item">
                    <a href="https://web.archive.org/web/20150203021507/https://ru.wargaming.net/"
                        class="global-submenu_link global-submenu_link__duplicate">Wargaming.net</a>
                </div>
            </div>


            <div class="global-submenu js-global-submenu js-global-nav-link-all_links js-global-nav-link-games"
                style="right: auto; left: 37px;">
                <div class="global-submenu_item">
                    <a href="#" class="global-submenu_link global-submenu_link__duplicate">Игры
                        <span class="global-submenu_arrow"></span>
                    </a>


                    <ul class="globalnav-dropdown">

                        <li class="globalnav-dropdown_item globalnav-dropdown_item__game">
                            <a href="https://web.archive.org/web/20150203021507/http://worldoftanks.ru/"
                                class="globalnav-dropdown_link globalnav-dropdown_link__game">
                                <span class="globalnav-game globalnav-game__wot"></span>
                                <span class="globalnav-txt">
                                    <span class="globalnav-txt_game">World of Tanks</span>
                                    <span class="globalnav-txt_text">Эпичные танковые баталии. Присоединяйся к
                                        многомиллионной армии виртуальных танкистов!</span>
                                </span>
                            </a>
                        </li>
                        <li class="globalnav-dropdown_item globalnav-dropdown_item__game">
                            <a href="https://web.archive.org/web/20150203021507/http://worldofwarplanes.ru/"
                                class="globalnav-dropdown_link globalnav-dropdown_link__game">
                                <span class="globalnav-game globalnav-game__wowp"></span>
                                <span class="globalnav-txt">
                                    <span class="globalnav-txt_game">World of Warplanes</span>
                                    <span class="globalnav-txt_text">Захватывающие бои на самолётах золотой эпохи
                                        военной авиации. Вступай в борьбу за воздушное господство!</span>
                                </span>
                            </a>
                        </li>
                        <li class="globalnav-dropdown_item globalnav-dropdown_item__game">
                            <a href="https://web.archive.org/web/20150203021507/http://worldofwarships.ru/"
                                class="globalnav-dropdown_link globalnav-dropdown_link__game">
                                <span class="globalnav-game globalnav-game__wows"></span>
                                <span class="globalnav-txt">
                                    <span class="globalnav-txt_game">World of Warships</span>
                                    <span class="globalnav-txt_text">Масштабные морские онлайн-баталии. Опробуй в бою
                                        легендарные военные корабли первой половины ХХ века!</span>
                                </span>
                            </a>
                        </li>

                    </ul>


                </div>
            </div>


            <div class="global-submenu js-global-submenu js-global-nav-link-all_links">
                <div class="global-submenu_item">
                    <a href="https://web.archive.org/web/20150203021507/https://ru.wargaming.net/support/"
                        class="global-submenu_link global-submenu_link__duplicate">Поддержка</a>
                </div>
            </div>

            <div class="global-submenu js-global-submenu js-global-nav-link-all_links">
                <div class="global-submenu_item">
                    <a href="https://web.archive.org/web/20150203021507/http://wargag.ru/"
                        class="global-submenu_link global-submenu_link__duplicate">WarGag</a>
                </div>
            </div>

            <div class="global-submenu js-global-submenu js-global-nav-link-all_links">
                <div class="global-submenu_item">
                    <a href="https://web.archive.org/web/20150203021507/http://wiki.worldoftanks.ru/"
                        class="global-submenu_link global-submenu_link__duplicate">Wiki</a>
                </div>
            </div>

            <div class="global-submenu js-global-submenu js-global-nav-link-all_links">
                <div class="global-submenu_item">
                    <a href="https://web.archive.org/web/20150203021507/http://forum.wotblitz.ru/"
                        class="global-submenu_link global-submenu_link__duplicate">Форум</a>
                </div>
            </div>


            <div class="global-submenu js-global-submenu js-global-nav-link-region" data-position-attribute="right">
                <ul class="global-submenu_region">

                    <li class="global-submenu_item">
                        <a class="global-submenu_link"
                            href="https://web.archive.org/web/20150203021507/http://wotblitz.ru/">Россия
                            <span class="global-submenu_arrow"></span>
                        </a>
                        <ul class="globalnav-dropdown">

                            <li class="globalnav-dropdown_item globalnav-dropdown_item__active">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.ru/set_language/ru/?next=http://wotblitz.ru/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__ru">ru</span>
                                    <span class="globalnav-dropdown_language">Русский</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="global-submenu_item">
                        <a class="global-submenu_link"
                            href="https://web.archive.org/web/20150203021507/http://wotblitz.eu/">Europe
                            <span class="global-submenu_arrow"></span>
                        </a>
                        <ul class="globalnav-dropdown">

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.eu/set_language/en/?next=http://wotblitz.eu/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__en">en</span>
                                    <span class="globalnav-dropdown_language">English</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.eu/set_language/cs/?next=http://wotblitz.eu/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__cs">cs</span>
                                    <span class="globalnav-dropdown_language">Čeština</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.eu/set_language/de/?next=http://wotblitz.eu/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__de">de</span>
                                    <span class="globalnav-dropdown_language">Deutsch</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.eu/set_language/es/?next=http://wotblitz.eu/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__es">es</span>
                                    <span class="globalnav-dropdown_language">Español</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.eu/set_language/fr/?next=http://wotblitz.eu/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__fr">fr</span>
                                    <span class="globalnav-dropdown_language">Français</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.eu/set_language/pl/?next=http://wotblitz.eu/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__pl">pl</span>
                                    <span class="globalnav-dropdown_language">Polski</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.eu/set_language/tr/?next=http://wotblitz.eu/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__tr">tr</span>
                                    <span class="globalnav-dropdown_language">Türkçe</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="global-submenu_item">
                        <a class="global-submenu_link"
                            href="https://web.archive.org/web/20150203021507/http://wotblitz.com/">Americas
                            <span class="global-submenu_arrow"></span>
                        </a>
                        <ul class="globalnav-dropdown">

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.com/set_language/en/?next=http://wotblitz.com/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__en">en</span>
                                    <span class="globalnav-dropdown_language">English</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.com/set_language/es-ar/?next=http://wotblitz.com/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__es-ar">es-ar</span>
                                    <span class="globalnav-dropdown_language">Español</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.com/set_language/pt-br/?next=http://wotblitz.com/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__pt-br">pt-br</span>
                                    <span class="globalnav-dropdown_language">Português</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="global-submenu_item">
                        <a class="global-submenu_link"
                            href="https://web.archive.org/web/20150203021507/http://wotblitz.asia/">Asia
                            <span class="global-submenu_arrow"></span>
                        </a>
                        <ul class="globalnav-dropdown">

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.asia/set_language/en/?next=http://wotblitz.asia/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__en">en</span>
                                    <span class="globalnav-dropdown_language">English</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.asia/set_language/ja/?next=http://wotblitz.asia/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__ja">ja</span>
                                    <span class="globalnav-dropdown_language">日本語</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.asia/set_language/th/?next=http://wotblitz.asia/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__th">th</span>
                                    <span class="globalnav-dropdown_language">ไทย</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.asia/set_language/zh-tw/?next=http://wotblitz.asia/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__zh-tw">zh-tw</span>
                                    <span class="globalnav-dropdown_language">繁體中文</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.asia/set_language/ko/?next=http://wotblitz.asia/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__ko">ko</span>
                                    <span class="globalnav-dropdown_language">한국어</span>
                                </a>
                            </li>

                            <li class="globalnav-dropdown_item globalnav-dropdown_item">
                                <a class="globalnav-dropdown_link"
                                    href="https://web.archive.org/web/20150203021507/http://wotblitz.asia/set_language/vi/?next=http://wotblitz.asia/">
                                    <span class="globalnav-dropdown_flag globalnav-dropdown_flag__vi">vi</span>
                                    <span class="globalnav-dropdown_language">Tiếng Việt</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>




            </div>

        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        if (window.WG && WG.CommonMenu) {
            WG.CommonMenu.trigger('holder_ready');
        }
    </script>











    <section data-start-offset="0" data-run-offset="0" data-end-offset="-100" class="slide slide__main js-slide-main"
        style="transform: translate3d(0px, 0%, 0px);">



        <div class="container">
            <div class="logo">
                <img class="logo_img" src="./img/logo.png" alt="WOT Blitz">
            </div>

            <nav class="menu js-menu" data-fixed-class="menu__fixed" data-opened-class="menu__opened">
                <div class="menu_wrap">
                    <a href="/web/20150927125534/http://wotblitz.ru/" class="menu_logo">WOT Blitz</a>
                    <ul class="menu_list">



                        <li class="menu_item menu_item__current">
                            <a class="menu_link" href="index.html">Главная</a>
                        </li>



                        <li class="menu_item">
                            <a class="menu_link" href="news.html">Новости</a>
                        </li>





                        <li class="menu_item">
                            <a class="menu_link" href="leaderboard.html">Зал славы</a>
                        </li>



                        <li class="menu_item">
                            <a class="menu_link" href="mods.html">Моды</a>
                        </li>



                    </ul>
                    <span class="menu_control js-mobile-menu-button">Меню</span>
                </div>
            </nav>

            <div class="game-info">



                <h1 class="heading-main">CЕРИЯ МОДОВ, СОЗДАННАЯ ДЛЯ НОСТАЛЬГИИ</h1>
                <p class="game-info_text">Портал в прошлое прямо у тебя в кармане</p>
                <div class="buttons-wrapper">


                    <a class="big-button big-button__ios big-button__large"
                        href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US"
                        onclick="dataLayer.push({'event' : 'GAevent', 'eventCategory' : 'Download', 'eventAction' : 'AppStore', 'eventLabel': 'LandingBar'});">
                        <span class="big-button_text">
                            Загрузите в <span class="big-button_store-name">App Store</span>
                        </span>
                    </a>



                    <a class="big-button big-button__android big-button__large"
                        href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US"
                        onclick="dataLayer.push({'event' : 'GAevent', 'eventCategory' : 'Download', 'eventAction' : 'Android', 'eventLabel': 'Download'});">
                        <span class="big-button_text" style="
margin-top: 10px;
">
                            Загрузите на <span class="big-button_store-name">ForBlitz</span>
                        </span>
                    </a>

                </div>
            </div>
        </div>
    </section>

    <div class="menu-down js-down-menu" data-closed-class="menu-down__bottom" data-not-first-slide-class="">
        <div class="menu-down_bg menu-down_bg__animated js-down-menu-background menu-down_bg__main"
            data-bg-class="menu-down_bg__main">
            <span class="menu-down_download js-down-menu-download-button menu-down_download__animated"
                data-animation-class="menu-down_download__animated" style="transform: translate3d(0px, 0px, 0px);">


                <a class="medium-button medium-button__ios"
                    href="https://web.archive.org/web/20150927125534/https://73938.api-01.com/serve?action=click&amp;publisher_id=73938&amp;site_id=54794&amp;offer_id=289846&amp;advertiser_sub_campaign=RU&amp;advertiser_sub_adgroup=ios&amp;advertiser_sub_ad=others&amp;advertiser_sub_keyword=wotblitz_ru"
                    onclick="dataLayer.push({'event' : 'GAevent', 'eventCategory' : 'Download', 'eventAction' : 'AppStore', 'eventLabel': 'LandingBar'});">
                    <span class="medium-button_text">
                        Загрузите в <span class="medium-button_store-name">App Store</span>
                    </span>
                </a>



                <a class="medium-button medium-button__android"
                    href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US">
                    <span class="medium-button_text" style="
margin-top: 7px;
">Загрузите на <span class="medium-button_store-name">ForBlitz</span>
                    </span>
                </a>


            </span>
        </div>
        <div class="container container__menu-down">

            <span class="look js-look-at-me" style="display: block;">
                <span class="look_item look_item__spark1"></span>
                <span class="look_item look_item__spark2"></span>
                <span class="look_item look_item__spark3"></span>
                <span class="look_item look_item__spark4"></span>
            </span>
            <div class="menu-down_social js-social-block">
                <div class="share">

                    <div class="share_inner js-share-inner" data-opened-class="share_inner__opened">
                        <div class="share_social"> <!-- .share_social__hidden -->
                            <script type="text/javascript"
                                src="//web.archive.org/web/20150927125534js_/http://yandex.st/share/share.js"
                                charset="utf-8"></script>
                            <script type="text/javascript">
                                var addthis_config = {
                                    ui_language: "ru"
                                };
                            </script>

                            <div class="addthis_toolbox addthis_default_style ">
                                <div class="js-yashare-element js-initialized b-share_theme_counter"
                                    data-yasharelink="http://wotblitz.ru/"><span class="b-share"><span
                                            class="b-share-btn__wrap"><a rel="nofollow" target="_blank" title="OpenVK"
                                                class="b-share__handle b-share__link b-share-btn__facebook"
                                                href="https://openvk.su/mrb"><span
                                                    class="b-share-icon b-share-icon_facebook"></span><span
                                                    class="b-share-counter"></span></a></span><span
                                            class="b-share-btn__wrap"><a rel="nofollow" target="_blank" title="Telegram"
                                                class="b-share__handle b-share__link b-share-btn__twitter"
                                                href="https://t.me/mr_bendy"><span
                                                    class="b-share-icon b-share-icon_twitter"></span><span
                                                    class="b-share-counter"></span></a></span><span
                                            class="b-share-btn__wrap"><a rel="nofollow" target="_blank" title="VepurOVK"
                                                class="b-share__handle b-share__link b-share-btn__gplus"
                                                href="https://vepurovk.xyz/mb"><span
                                                    class="b-share-icon b-share-icon_gplus"></span><span
                                                    class="b-share-counter"></span></a></span><span
                                            class="b-share-btn__wrap"><a rel="nofollow" target="_blank"
                                                title="ВКонтакте"
                                                class="b-share__handle b-share__link b-share-btn__vkontakte"
                                                href="https://vk.com/mr.bendy" data-service="vkontakte"><span
                                                    class="b-share-icon b-share-icon_vkontakte"></span><span
                                                    class="b-share-counter"></span></a></span><iframe
                                            style="display: none"
                                            src="//web.archive.org/web/20151027070822/http://yastatic.net/share/ya-share-cnt.html?url=http%3A%2F%2Fwotblitz.ru%2Fru%2Fnews%2Fpc-browser%2Fspecials%2Ffrankenstank%2F&amp;services=facebook,twitter,gplus,vkontakte"></iframe></span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                (function (window) {
                                    var id = 'js-rand-' + Math.random(),
                                        $el = $('.js-yashare-element:not(.js-initialized)');

                                    if (window.Ya && window.Ya.share && $el.length) {
                                        $el.addClass('js-initialized');

                                        window.yaShareWidgetConfig = {
                                            elementStyle: {
                                                type: 'button',
                                                quickServices: ['facebook', 'twitter', 'gplus', 'vkontakte']
                                            },
                                            element: $el.get(0),
                                            l10n: 'ru',



                                            theme: 'counter'
                                        };

                                        if (typeof onYaShareReady === "function") {
                                            window.yaShareWidgetConfig.onready = onYaShareReady;
                                        }

                                        window.yaShareInstance = new window.Ya.share(window.yaShareWidgetConfig);
                                    }
                                })(window);
                            </script>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section data-start-offset="0" data-run-offset="-100" data-end-offset="-200"
        style="transform: translate3d(0px, 0%, 0px);"
        class="slide slide__info slide__even js-slide-info wgslider-slide-animation">
        <div class="container">
            <div class="advantages advantages__first js-advantage advantages__opened"
                data-opened-class="advantages__opened" style="left: 0px; opacity: 1;">
                <div class="advantages_heading">
                    <h2 class="heading-2 heading-2__advantages">Разнообразие ностальгических карт</h2>
                </div>
                <div class="advantages_dropdown" style="display: block;">
                    <p class="advantages_text">Исследуй графическое многообразие пейзажей Blitz Classic, ностальгируй о
                        былых временах от старого «Миддлбурга» до хэллоуинского «Балтийского щита».
                    </p>
                </div>
            </div>
            <div class="advantages advantages__second" style="left: 0px; opacity: 1;">
                <div class="advantages_heading">
                    <h2 class="heading-2 heading-2__advantages">Максимум ностальгии</h2>
                </div>
                <div class="advantages_dropdown" style="display: none;">
                    <p class="advantages_text">Помните, что Blitz Classic - это набор интерфейсных, звуковых и
                        графических модификаций возвращающих нынешнему «Блицу» вид 2014-2015 года. Вместе с данными
                        модами вы можете погрузиться в ностальгический World of Tanks Blitz и изучить историю игры
                        по-новому.</p>
                </div>
            </div>
            <div class="advantages advantages__third" style="right: 0px; opacity: 1;">
                <div class="advantages_heading">
                    <h2 class="heading-2 heading-2__advantages">Часть модов Mr. Bendy</h2>
                </div>
                <div class="advantages_dropdown" style="display: none;">
                    <p class="advantages_text">Моды Mr. Bendy открывают доступ к миниатюрному, но ностальгичному порталу
                        старого World of Tanks и World of Tanks Blitz</p>
                </div>
            </div>
            <div class="advantages advantages__fourth" style="right: 0px; opacity: 1;">
                <div class="advantages_heading">
                    <h2 class="heading-2 heading-2__advantages">Богатый арсенал модов</h2>
                </div>
                <div class="advantages_dropdown" style="display: none;">
                    <p class="advantages_text">В вашем распоряжении множество интересных модификаций, которые вернут вас
                        в 2015 год, воссозданных по старым версиям World of Tanks Blitz.</p>
                </div>
            </div>
        </div>
    </section>
    <section data-start-offset="0" data-run-offset="-100" data-end-offset="-200"
        class="slide slide__media js-slide-media wgslider-slide-animation"
        style="transform: translate3d(0px, 0%, 0px);">
        <h2 class="heading-2__media">Скриншоты и видео</h2>
        <div class="main-slider" style="background-image: url(&quot;./img/ss/hellrock-01.jpg&quot;);">
            <span class="play-video play-video__main" style="display: none;">
                <span class="play-video_text-wrap">
                    <span class="play-video_text">
                        <span class="play-video_text-style"></span>
                    </span>
                </span>
            </span>
            <span class="main-slider_control js-mobile-slider-control-prev" style="display: none;">Предыдущий</span>
            <span class="main-slider_control main-slider_control__right js-mobile-slider-control-next">Следующий</span>
            <div class="slider-round js-mobile-slider-bullets" data-current-class="slider-round_item__current">
                <a href="" class="slider-round_item"></a>
                <a href="" class="slider-round_item slider-round_item__current"></a>
                <a href="" class="slider-round_item"></a>
                <a href="" class="slider-round_item"></a>
                <a href="" class="slider-round_item"></a>
                <a href="" class="slider-round_item"></a>
                <a href="" class="slider-round_item"></a>
                <a href="" class="slider-round_item"></a>
                <a href="" class="slider-round_item"></a>
                <a href="" class="slider-round_item"></a>
            </div>
            <div class="main-slider_content js-mobile-slider main-slider_content__animate"
                data-animate-class="main-slider_content__animate"
                style="user-select: none; touch-action: manipulation; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0%;">
                <div class="main-slider_item" style="left: 0%;">
                    <img src="./img/ss/hellrock-01.jpg" width="100%" alt="landing 03">
                </div>
                <div class="main-slider_item" style="left: 100%;">
                    <img src="./img/ss/hellrock-02.jpg" width="100%" alt="gallery7">
                </div>
                <div class="main-slider_item" style="left: 200%;">
                    <img src="./img/ss/karieri.jpg" width="100%" alt="gallery8">
                </div>
                <div class="main-slider_item" style="left: 300%;">
                    <img src="./img/ss/karieri1.jpg" width="100%" alt="landing 05">
                </div>
                <div class="main-slider_item" style="left: 400%;">
                    <img src="./img/ss/mistic_rock.jpg" width="100%" alt="landing 06">
                </div>
                <div class="main-slider_item" style="left: 500%;">
                    <img src="./img/ss/vino.png" width="100%" alt="landing 12">
                </div>
                <div class="main-slider_item" style="left: 600%;">
                    <img src="./img/ss/morning_rock.png" width="100%" alt="landing 11">
                </div>
                <div class="main-slider_item" style="left: 700%;">
                    <img src="./img/ss/fort.jpg" width="100%" alt="landing 10">
                </div>
                <div class="main-slider_item" style="left: 800%;">
                    <img src="./img/ss/ykon.png" width="100%" alt="landing 04">
                </div>
                <div class="main-slider_item" style="left: 900%;">
                    <img src="./img/ss/mid.png" width="100%" alt="landing 07">
                </div>
            </div>
        </div>
        <div class="wgslider-webkit-acceleration preview-slider js-preview-slider wgslider-slide-animation"
            style="user-select: none; touch-action: manipulation; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform: translate3d(0px, 155px, 0px);">
            <span class="preview-slider_conrol js-slider-control-prev" style="display: none;">Предыдущий</span>
            <span class="preview-slider_conrol preview-slider_conrol__right js-slider-control-next"
                style="display: block;">Следующий</span>
            <div class="preview-slider_content" style="left: 0px;">

                <div class="preview-slider_item preview-slider_item__current">

                    <img class="preview-slider_img" src="./img/ss/hellrock-01_270x.png" rel="./img/ss/hellrock-01.jpg"
                        alt="landing 03">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/hellrock-02_270x.png" rel="./img/ss/hellrock-02.jpg"
                        alt="gallery7">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/karieri.jpg" rel="./img/ss/karieri.jpg"
                        alt="gallery8">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/karieri1.jpg" rel="./img/ss/karieri1.jpg"
                        alt="landing 05">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/mistic_rock.jpg" rel="./img/ss/mistic_rock.jpg"
                        alt="landing 06">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/vino.png" rel="./img/ss/vino.png" alt="landing 12">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/morning_rock.png" rel="./img/ss/morning_rock.png"
                        alt="landing 11">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/ykon.png" rel="./img/ss/ykon.png" alt="landing 10">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/fort.png" rel="./img/ss/fort.png" alt="landing 04">

                </div>

                <div class="preview-slider_item">

                    <img class="preview-slider_img" src="./img/ss/mid.png" rel="./img/ss/mid.png" alt="landing 07">

                </div>

            </div>
        </div>

    </section>




    <section data-start-offset="0" data-run-offset="-100" data-end-offset="-100"
        class="slide slide__download slide__even js-slide-download" style="transform: translate3d(0px, 0%, 0px);">


        <div class="offer-wrap js-offer-wrap" data-opened-class="offer-wrap__opened"
            data-region-opened-class="offer-wrap__opened-region">
            <div class="container">
                <div class="offer">
                    <div class="offer_info">
                        <h2 class="heading-1 heading-1__offer">НОСТАЛЬГИРУЙ НА ANDROID И PC</h2>
                        <p class="offer_text">Моды доступны для бесплатного скачивания в ForBlitz и на нашем сайте.
                            Поддерживается Android и PC версия игры.</p>
                    </div>
                    <div class="buttons-wrapper buttons-wrapper__offer">


                        <a class="big-button big-button__ios"
                            href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US"
                            onclick="dataLayer.push({'event' : 'GAevent', 'eventCategory' : 'Download3rd', 'eventAction' : 'AppStore', 'eventLabel': 'LandingDownloadSlide'});">
                            <span class="big-button_text">
                                Загрузите в <span class="big-button_store-name">App Store</span>
                            </span>
                        </a>



                        <a class="big-button big-button__android"
                            href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US"
                            onclick="dataLayer.push({'event' : 'GAevent', 'eventCategory' : 'Download3rd', 'eventAction' : 'Android', 'eventLabel': 'Download3rd'});">
                            <span class="big-button_text" style="
margin-top: 8px;
">
                                Загрузите на <span class="big-button_store-name">ForBlitz</span>
                            </span>
                        </a>

                    </div>
                    <div class="offer_social js-social-buttons">
                        <p class="footer_title">Наши сообщества</p>
                        <ul class="social">







                            <li class="social_item"><a href="https://www.guilded.gg/i/kgNAXxV2"
                                    class="social_link social_link__fb">fb</a></li>


                            <li class="social_item"><a href="https://t.me/mr_bendy" class="social_link social_link__tw"
                                    onclick="dataLayer.push({'event': 'GAevent', 'eventCategory': 'Footer', 'eventAction': 'Twitter'});">tw</a>
                            </li>



                            <li class="social_item"><a href="https://vk.com/mr.bendy"
                                    class="social_link social_link__vk"
                                    onclick="dataLayer.push({'event': 'GAevent', 'eventCategory': 'Footer', 'eventAction': 'Vkontakte'});">vk</a>
                            </li>


                            <li class="social_item"><a href="https://openvk.su/mrb" class="social_link social_link__vb"
                                    onclick="dataLayer.push({'event': 'GAevent', 'eventCategory': 'Footer', 'eventAction': 'Viber'});">vb</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <script type="text/javascript">
            $(document).ready(function () {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                $('input[name=csrfmiddlewaretoken]').val(getCookie('csrftoken'));
            });

        </script>





        <footer class="footer  js-slider-footer" data-opened-class="footer__opened"
            data-region-opened-class="footer__opened-region">

            <div class="js-fake-slide slide wgslider-slide-animation"
                style="display: none; transform: translate3d(0px, 0%, 0px);" data-start-offset="0" data-run-offset="0"
                data-end-offset="0"></div>

            <div class="container">

                <div class="footer_main-wrap">
                    <div class="footer_main">

                        <ul class="footer-menu">

                            <li class="footer-menu_item"><a class="footer-menu_link"
                                    href="https://legal.tanksblitz.info/eula/">Пользовательское соглашение</a></li>



                            <li class="footer-menu_item"><a class="footer-menu_link"
                                    href="https://legal.tanksblitz.info/privacy-policy/">Политика конфиденциальности</a>
                            </li>


                            <li class="footer-menu_item"><a class="footer-menu_link"
                                    href="https://tanksblitz.ru/ru/content/docs/system-requirements/">Системные
                                    требования</a></li>

                        </ul>
                        <a class="footer_logo" href="http://wargaming.net">Wargaming.net</a>
                        <p class="footer_copyright">
                            <span class="footer_text">2019–2023 "Blitz Classic"<br>Не является официальным проектом
                                Wargaming.net.
                                <br>Все оформления страниц принадлежат</span><br>

                        </p>
                    </div>
                </div>
                <ul class="region js-region" data-opened-class="region__open">

                    <li class="region_item region_item__current-ru">
                        <span class="region_name">Россия:</span>
                        <ul class="language">

                            <li class="language_item"><a class="language_link language_link__ru language_link__current"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.ru/set_language/ru/?next=http://wotblitz.ru/"><span
                                        class="language_text">Русский</span></a></li>

                        </ul>
                    </li>

                    <li class="region_item region_item__size-s">
                        <span class="region_name">Europe:</span>
                        <ul class="language">

                            <li class="language_item"><a class="language_link language_link__en"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.eu/set_language/en/?next=http://wotblitz.eu/"><span
                                        class="language_text">English</span></a></li>

                            <li class="language_item"><a class="language_link language_link__cs"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.eu/set_language/cs/?next=http://wotblitz.eu/"><span
                                        class="language_text">Čeština</span></a></li>

                            <li class="language_item"><a class="language_link language_link__de"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.eu/set_language/de/?next=http://wotblitz.eu/"><span
                                        class="language_text">Deutsch</span></a></li>

                            <li class="language_item"><a class="language_link language_link__es"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.eu/set_language/es/?next=http://wotblitz.eu/"><span
                                        class="language_text">Español</span></a></li>

                            <li class="language_item"><a class="language_link language_link__fr"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.eu/set_language/fr/?next=http://wotblitz.eu/"><span
                                        class="language_text">Français</span></a></li>

                            <li class="language_item"><a class="language_link language_link__pl"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.eu/set_language/pl/?next=http://wotblitz.eu/"><span
                                        class="language_text">Polski</span></a></li>

                            <li class="language_item"><a class="language_link language_link__tr"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.eu/set_language/tr/?next=http://wotblitz.eu/"><span
                                        class="language_text">Türkçe</span></a></li>

                            <li class="language_item"><a class="language_link language_link__ar"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.eu/set_language/ar/?next=http://wotblitz.eu/"><span
                                        class="language_text">العربية</span></a></li>

                        </ul>
                    </li>

                    <li class="region_item">
                        <span class="region_name">Americas:</span>
                        <ul class="language">

                            <li class="language_item"><a class="language_link language_link__en-am"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.com/set_language/en/?next=http://wotblitz.com/"><span
                                        class="language_text">English</span></a></li>

                            <li class="language_item"><a class="language_link language_link__es-mx"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.com/set_language/es-mx/?next=http://wotblitz.com/"><span
                                        class="language_text">Español mexicano</span></a></li>

                            <li class="language_item"><a class="language_link language_link__pt-br"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.com/set_language/pt-br/?next=http://wotblitz.com/"><span
                                        class="language_text">Português</span></a></li>

                        </ul>
                    </li>

                    <li class="region_item region_item__size-s">
                        <span class="region_name">Asia:</span>
                        <ul class="language">

                            <li class="language_item"><a class="language_link language_link__en"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.asia/set_language/en/?next=http://wotblitz.asia/"><span
                                        class="language_text">English</span></a></li>

                            <li class="language_item"><a class="language_link language_link__ja"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.asia/set_language/ja/?next=http://wotblitz.asia/"><span
                                        class="language_text">日本語</span></a></li>

                            <li class="language_item"><a class="language_link language_link__th"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.asia/set_language/th/?next=http://wotblitz.asia/"><span
                                        class="language_text">ไทย</span></a></li>

                            <li class="language_item"><a class="language_link language_link__zh-tw"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.asia/set_language/zh-tw/?next=http://wotblitz.asia/"><span
                                        class="language_text">繁體中文</span></a></li>

                            <li class="language_item"><a class="language_link language_link__ko"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.asia/set_language/ko/?next=http://wotblitz.asia/"><span
                                        class="language_text">한국어</span></a></li>

                            <li class="language_item"><a class="language_link language_link__vi"
                                    href="https://web.archive.org/web/20150927125534/http://wotblitz.asia/set_language/vi/?next=http://wotblitz.asia/"><span
                                        class="language_text">Tiếng Việt</span></a></li>

                        </ul>
                    </li>

                </ul>
            </div>
        </footer>

    </section>


</div>

























<nav class="menu js-menu js-fixed-menu menu__fixed" data-fixed-class="menu__fixed" data-opened-class="menu__opened"
    style="transform: translate3d(0px, -100px, 0px);">
    <div class="menu_wrap">
        <a href="/web/20150927125534/http://wotblitz.ru/" class="menu_logo">WOT Blitz</a>
        <ul class="menu_list">



            <li class="menu_item menu_item__current">
                <a class="menu_link" href="index.html">Главная</a>
            </li>



            <li class="menu_item">
                <a class="menu_link" href="news.html">Новости</a>
            </li>





            <li class="menu_item">
                <a class="menu_link" href="leaderboard.html">Зал славы</a>
            </li>



            <li class="menu_item">
                <a class="menu_link" href="mods.html">Моды</a>
            </li>



        </ul>
        <span class="menu_control js-mobile-menu-button">Меню</span>
    </div>
</nav>
<nav class="menu js-menu js-fixed-menu menu__fixed" data-fixed-class="menu__fixed" data-opened-class="menu__opened"
    style="transform: translate3d(0px, -100px, 0px);">
    <div class="menu_wrap">
        <a href="/web/20150927125534/http://wotblitz.ru/" class="menu_logo">WOT Blitz</a>
        <ul class="menu_list">



            <li class="menu_item menu_item__current">
                <a class="menu_link" href="index.html">Главная</a>
            </li>



            <li class="menu_item">
                <a class="menu_link" href="news.html">Новости</a>
            </li>





            <li class="menu_item">
                <a class="menu_link" href="leaderboard.html">Зал славы</a>
            </li>



            <li class="menu_item">
                <a class="menu_link" href="mods.html">Моды</a>
            </li>



        </ul>
        <span class="menu_control js-mobile-menu-button">Меню</span>
    </div>
</nav>
<nav class="menu js-menu js-fixed-menu menu__fixed" data-fixed-class="menu__fixed" data-opened-class="menu__opened"
    style="transform: translate3d(0px, -100px, 0px);">
    <div class="menu_wrap">
        <a href="/web/20150927125534/http://wotblitz.ru/" class="menu_logo">WOT Blitz</a>
        <ul class="menu_list">



            <li class="menu_item menu_item__current">
                <a class="menu_link" href="index.html">Главная</a>
            </li>



            <li class="menu_item">
                <a class="menu_link" href="news.html">Новости</a>
            </li>





            <li class="menu_item">
                <a class="menu_link" href="leaderboard.html">Зал славы</a>
            </li>



            <li class="menu_item">
                <a class="menu_link" href="mods.html">Моды</a>
            </li>



        </ul>
        <span class="menu_control js-mobile-menu-button">Меню</span>
    </div>
</nav>