---
layout: default
---

<style>
    body {
        overflow-x: hidden;
    }
    .footer_info {
        display: none;
    }
    .navigation-header {
        display: none;
    }
    .footer_main-wrap {
        border-top: 1px solid #000;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08);
        bottom: 2px;
    }
</style>

<div class="page">
    <section data-start-offset="0" data-run-offset="0" data-end-offset="-100" class="slide slide__main js-slide-main"
        style="transform: translate3d(0px, 0%, 0px);">
        <div class="container-main">
            <div class="logo">
                <img class="logo_img" src="./assets/img/logo.png" alt="WOT Blitz">
            </div>
            <nav class="menu js-menu" data-fixed-class="menu__fixed" data-opened-class="menu__opened">
                <div class="menu_wrap">
                    <ul class="menu_list">
                        <li class="menu_item menu_item__current">
                            <a class="menu_link_main {% if page.url == "/" %}menu_link-active{% endif %}" href="{{ '/' | relative_url }}">Главная</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_link_main {% if page.url == "/news.html" %}menu_link-active{% endif %}" href="{{ '/news' | relative_url }}">Новости</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_link_main {% if page.url == "/leaderboard.html" %}menu_link-active{% endif %}" href="{{ '/leaderboard' | relative_url }}">Зал славы</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_link_main {% if page.url == "/mods.html" %}menu_link-active{% endif %}" href="{{ '/mods' | relative_url }}">Моды</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="game-info">
                <h1 class="heading-main">МОДЫ ДЛЯ НОСТАЛЬГИИ</h1>
                <p class="game-info_text">Портал в прошлое прямо у тебя в кармане</p>
                <div class="buttons-wrapper">
                    <a class="big-button big-button__android big-button__large"
                        href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US">
                        <span class="big-button_text">
                            Загрузите на <span class="big-button_store-name">ForBlitz</span>
                        </span>
                    </a>
                </div>
                <section class="slide slide__main" style="transform: translate3d(-595px, -90%, 0px);"></section>
            </div>
            <div class="menu-down js-down-menu">
                <div class="menu-down_bg menu-down_bg__animated js-down-menu-background menu-down_bg__main">
                    <div class="menu-down_social js-social-block">
                        <div class="share">
                            <div class="share_inner js-share-inner">
                                <div class="share_social">
                                    <div class="addthis_toolbox addthis_default_style ">
                                        <div class="b-share_theme_counter">
                                            <span class="b-share"><span class="b-share-btn__wrap"><a rel="nofollow" target="_blank" title="OpenVK" class="b-share__handle b-share__link b-share-btn__facebook" href="https://openvk.su/mrb">
                                                <span class="b-share-icon b-share-icon_facebook"></span>
                                                <span class="b-share-counter"></span>
                                            </a>
                                            </span>
                                            <span class="b-share-btn__wrap"><a rel="nofollow" target="_blank" title="Telegram" class="b-share__handle b-share__link b-share-btn__twitter" href="https://t.me/mr_bendy">
                                                <span class="b-share-icon b-share-icon_twitter"></span>
                                                <span class="b-share-counter"></span>
                                            </a>
                                            </span>
                                            <span class="b-share-btn__wrap"><a rel="nofollow" target="_blank" title="VepurOVK" class="b-share__handle b-share__link b-share-btn__gplus" href="https://vepurovk.xyz/mb">
                                                <span class="b-share-icon b-share-icon_gplus"></span>
                                                <span class="b-share-counter"></span>
                                            </a>
                                            </span>
                                                <span class="b-share-btn__wrap"><a rel="nofollow" target="_blank" title="ВКонтакте" class="b-share__handle b-share__link b-share-btn__vkontakte" href="https://vk.com/mr.bendy">
                                                    <span class="b-share-icon b-share-icon_vkontakte"></span>
                                                    <span class="b-share-counter"></span>
                                                </a>
                                            </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-start-offset="0" data-run-offset="-100" data-end-offset="-200"
        class="slide slide__info slide__even js-slide-info wgslider-slide-animation">
        <div class="container" style="padding: 966px 80px 80px;">
            <div class="advantages advantages__first js-advantage advantages__opened"
                data-opened-class="advantages__opened" style="left: 0px; opacity: 1;">
                <div class="advantages_heading">
                    <h2 class="heading-2 heading-2__advantages">Разнообразие ностальгических карт</h2>
                </div>
                <div class="advantages_dropdown" style="display: block;">
                    <p class="advantages_text">Исследуй графическое многообразие пейзажей Blitz Classic, ностальгируй о
                        былых временах от старого «Миддлбурга» до хэллоуинского «Балтийского щита».
                    </p>
                </div>
            </div>
            <div class="advantages advantages__second" style="left: 0px; opacity: 1;">
                <div class="advantages_heading">
                    <h2 class="heading-2 heading-2__advantages">Максимум ностальгии</h2>
                </div>
                <div class="advantages_dropdown" style="display: block;">
                    <p class="advantages_text">Помните, что Blitz Classic - это набор интерфейсных, звуковых и
                        графических модификаций возвращающих нынешнему «Блицу» вид 2014-2015 года. Вместе с данными
                        модами вы можете погрузиться в ностальгический World of Tanks Blitz и изучить историю игры
                        по-новому.</p>
                </div>
            </div>
            <div class="advantages advantages__third" style="right: 0px; opacity: 1;">
                <div class="advantages_heading">
                    <h2 class="heading-2 heading-2__advantages">Часть модов Mr. Bendy</h2>
                </div>
                <div class="advantages_dropdown" style="display: block; background-color: rgb(0 0 0 / 0%);">
                    <p class="advantages_text" style="right: 175px;position: relative;background-color: rgba(0, 0, 0, 0.8);">Моды Mr. Bendy открывают доступ к миниатюрному, но ностальгичному порталу
                        старого World of Tanks и World of Tanks Blitz</p>
                </div>
            </div>
            <div class="advantages advantages__fourth" style="right: 0px; opacity: 1;">
                <div class="advantages_heading">
                    <h2 class="heading-2 heading-2__advantages">Богатый арсенал модов</h2>
                </div>
                <div class="advantages_dropdown" style="display: block; background-color: rgb(0 0 0 / 0%);">
                    <p class="advantages_text" style="right: 160px; position: relative; background-color: rgba(0, 0, 0, 0.8);">В вашем распоряжении множество интересных модификаций, которые вернут вас
                        в 2015 год, воссозданных по старым версиям World of Tanks Blitz.</p>
                </div>
            </div>
        </div>
    </section>
    <section data-start-offset="0" data-run-offset="-100" data-end-offset="-100"
        class="slide slide__download slide__even js-slide-download wgslider-slide-animation">
        <div class="offer-wrap js-offer-wrap" data-opened-class="offer-wrap__opened"
            data-region-opened-class="offer-wrap__opened-region">
            <div class="container" style="padding: 855px 80px 80px;">
                <div class="offer">
                    <div class="offer_info">
                        <h2 class="heading-1 heading-1__offer">НОСТАЛЬГИРУЙ НА ANDROID И PC</h2>
                        <p class="offer_text">Моды доступны для бесплатного скачивания в ForBlitz и на нашем сайте.
                            Поддерживается Android и PC версия игры.</p>
                    </div>
                    <div class="buttons-wrapper buttons-wrapper__offer">
                        <a class="big-button big-button__android"
                            href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US"
                            style="height: 63px; line-height: 63px; margin: 0 11px; min-width: 130px; padding-left: 64px;">
                            <span class="big-button_text" style="font-size: 13px;">
                                Загрузите на <span class="big-button_store-name" style="font-size: 27px; line-height: 27px; margin-bottom: 4px;">ForBlitz</span>
                            </span>
                        </a>
                    </div>
                    <div class="offer_social js-social-buttons">
                        <p class="footer_title">Наши сообщества</p>
                        <ul class="social" style="padding-top: 35px; right: 29px; position: relative;">
                            <li class="social_item"><a href="https://www.guilded.gg/i/kgNAXxV2"
                                    class="social_link social_link__fb">fb</a></li>
                            <li class="social_item"><a href="https://t.me/mr_bendy" class="social_link social_link__tw"
                                    onclick="dataLayer.push({'event': 'GAevent', 'eventCategory': 'Footer', 'eventAction': 'Twitter'});">tw</a>
                            </li>
                            <li class="social_item"><a href="https://vk.com/mr.bendy"
                                    class="social_link social_link__vk"
                                    onclick="dataLayer.push({'event': 'GAevent', 'eventCategory': 'Footer', 'eventAction': 'Vkontakte'});">vk</a>
                            </li>
                            <li class="social_item"><a href="https://openvk.su/mrb" class="social_link social_link__vb"
                                    onclick="dataLayer.push({'event': 'GAevent', 'eventCategory': 'Footer', 'eventAction': 'Viber'});">vb</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>