---
layout: default
---

<div class="container-main">
    <div class="logo">
        <img class="logo_img" src="./assets/img/logo.png" alt="WOT Blitz">
    </div>
    <nav class="menu js-menu" data-fixed-class="menu__fixed" data-opened-class="menu__opened">
        <div class="menu_wrap">
            <ul class="menu_list">
                <li class="menu_item menu_item__current">
                    <a class="menu_link_main" href="index.html">Главная</a>
                </li>
                <li class="menu_item">
                    <a class="menu_link_main" href="news.html">Новости</a>
                </li>
                <li class="menu_item">
                    <a class="menu_link_main" href="leaderboard.html">Зал славы</a>
                </li>
                <li class="menu_item">
                    <a class="menu_link_main" href="mods.html">Моды</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="game-info">
        <h1 class="heading-main">МОДЫ ДЛЯ НОСТАЛЬГИИ</h1>
        <p class="game-info_text">Портал в прошлое прямо у тебя в кармане</p>
        <div class="buttons-wrapper">
            <a class="big-button big-button__ios big-button__large"
                href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US"
                onclick="dataLayer.push({'event' : 'GAevent', 'eventCategory' : 'Download', 'eventAction' : 'AppStore', 'eventLabel': 'LandingBar'});">
                <span class="big-button_text">
                    Загрузите в <span class="big-button_store-name">App Store</span>
                </span>
            </a>
            <a class="big-button big-button__android big-button__large"
                href="https://play.google.com/store/apps/details?id=ru.forblitz&amp;hl=ru&amp;gl=US"
                onclick="dataLayer.push({'event' : 'GAevent', 'eventCategory' : 'Download', 'eventAction' : 'Android', 'eventLabel': 'Download'});">
                <span class="big-button_text" style="margin-top: 10px;">
                    Загрузите на <span class="big-button_store-name">ForBlitz</span>
                </span>
            </a>

        </div>
    </div>
</div>