---
layout: default
---

{% assign id = page.title %}
{% assign data = site.data.fan_pages[id] %}

<div class="container container__inner-page">
    <div class="l-content" style="width: auto;">
        <div>
            <h1 class="heading-1 heading-1__tank-name">{{ page.title }}</h1>
        </div>
        <div class="promo-tank_column promo-tank_column__second" style="padding-left: 0px;">
            <h2 class="heading-2 heading-2__light">Описание мода</h2>
            <p class="promo-tank_description">{{ data.description | markdownify }}</p>
            <br>
            <span class="t-app-general_platform" style="padding-left: 0px;">
                {% case data.button1 %}
                    {% when 'steam' %}
                    <a class="medium-button medium-button__android" style="margin: 0 8px 16px 0px;" href="{{ data.link1 }}">
                        <span class="medium-button_text">Загрузите в<span class="medium-button_store-name">Steam</span>
                        </span>
                    </a>                    
                    {% endcase %}
                </span>
            </span>
            <span class="t-app-general_platform" style="padding-left: 0px;">
                {% case data.button2 %}
                    {% when 'android' %}
                    <a class="medium-button medium-button__android" style="margin: 0 8px 16px 0px;" href="{{ data.link2 }}">
                        <span class="medium-button_text">Загрузите на<span class="medium-button_store-name">Android</span>
                        </span>
                    </a>                    
                    {% endcase %}
                </span>
            </span>
            <span class="t-app-general_platform" style="padding-left: 0px;">
                {% case data.button3 %}
                    {% when 'lgc' %}
                    <a class="medium-button medium-button__android" style="margin: 0 8px 16px 0px;" href="{{ data.link3 }}">
                        <span class="medium-button_text">Загрузите в<span class="medium-button_store-name">LGC</span>
                        </span>
                    </a>                    
                    {% endcase %}
                </span>
            </span>
        </div>
        <div class="b-app-general">
            <table class="t-app-general">
                <span class="tank-info">
                    <span class="t-app-general_platform">
                        {% case data.platform %}
                            {% when 'windows' %}
                                <img src="{{ '/assets/img/bwin.png' | relative_url }}" alt="Windows PC">
                            {% when 'web' %}
                                <img src="/assets/img/www-icon.png" alt="Web">
                        {% endcase %}
                    </span>
                    <span class="t-app-general_platform" style="padding-left: 10px;">
                        {% case data.mod %}
                            {% when 'hangar' %}
                            <img class="tank-info_type tank-info_type__heavytank" src="{{ '/assets/img/mods/category/hangar.png' | relative_url }}" alt="hangar" style="margin-top: -22px;">
                            {% when 'web' %}
                            <img src="/assets/img/www-icon.png" alt="Web">
                            {% endcase %}
                        </span>
                    </span>
                </table>
                    <img class="b-software-list_img" src="{{ data.image | relative_url }}">
                </div>
            </div>
        </div>

        <span style="background-image: url(./img/hangar.png); background-size: 40px; background-position: center; display: inline-block;" class="tank-info_type tank-info_type__heavytank">heavyTank</span>