---
layout: default
---

<style>
    .tankopedia_item {
        border-top: 1px solid rgba(81, 81, 81, 0.3);
        border-top: 0;
        padding-top: 0;
        padding: 0px 0 0px;
        -webkit-transform: translateZ(0);
    }
    h3 {
        font-family: "WarHeliosCondC", "Arial Narrow", Arial, sans-serif;
        font-stretch: normal;
        font-size: 21px;
        color: #fff;
        font-weight: normal;
        margin: 0px;
        padding: 0;
    }
    ul li {
        margin-bottom: 0px;
        padding-left: 0px;
        background: none;
    }
</style>

<div class="container container__inner-page container__tankopedia">
    <h1 class="heading-1">Моды</h1>
    <div class="tankopedia">
        <div class="nation-select">
            <ul class="nation-select_list js-nation-select-list">
                <li class="nation-select_item nation-select_item__current">
                    <a class="nation-select_link nation-select_link__usa" href="/mods">Рестайлинги</a>
                </li>
                <li class="nation-select_item">
                    <a class="nation-select_link nation-select_link__ussr" href="{{ '/mods/sounds' | relative_url }}">Звуковые моды</a>
                </li>
                <li class="nation-select_item">
                    <a class="nation-select_link nation-select_link__germany" href="{{ '/mods/hangars' | relative_url }}">Ангары</a>
                </li>
            </ul>
        </div>
        <div class="tankopedia_content" style="top: 4px; margin-left: 170px; margin-top: 0; position: relative;">
            <div class="tankopedia_item tankopedia_item__opened js-tankopedia-item"
                data-opened-class="tankopedia_item__opened">
                <div class="tankopedia_title">
                    <span class="tankopedia_type tankopedia_type__heavytank" style="background-image: url({{ '/assets/img/mods/category/maps.png' | relative_url }}); background-size: 24px; background-position: center;">heavytank</span>
                    <h3 class="tankopedia_heading">Рестайлинги</h3>
                </div>
                <div class="tankopedia_vehicles">
                    <p>Универсальная версия ремоделинга, обычно в таких модификациях изменяются текстуры карт/ангаров.
                    </p>
                    <ul class="vehicles-list">
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="https://forblitz.ru/map-restylings/restailing-vechernie-vinogradniki/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/maps/karieri.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Старые «Карьеры»</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="https://forblitz.ru/modifications/map-restylings/restailing-vechernie-vinogradniki/6572/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/maps/old_italy.jpg' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Вечерние «Виноградники»</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item">
                            <a class="vehicles-list_link" href="404">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/maps/oldmid.png' | relative_url }}" alt="Old Mid">
                                </span>
                                <span class="vehicles-list_text">Старый «Миддлбург»</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item">
                            <a class="vehicles-list_link"
                                href="{{ '/mods/maps/hellrock' | relative_url }}">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/maps/hallrock.png' | relative_url }}" alt="Hell Rockfield">
                                </span>
                                <span class="vehicles-list_text">Вечерний «Балтийский щит»</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="{{ '/mods/maps/misticrock' | relative_url }}">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/maps/Halloween_Rockfield_2.0.png' | relative_url }}"
                                        alt="Halloween_Rockfield_2.0">
                                </span>
                                <span class="vehicles-list_text">Мистический «Балтийский щит»</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
