---
layout: default
---

<div class="container container__inner-page">
    <div class="l-content" style="width: auto; text-align: center;">
        <div>
            <h1 class="heading-1 heading-1__tank-name">Откройте для себя мир мобильной классики</h1>
        </div>
        <div class="promo-tank_column promo-tank_column__second" style="padding-left: 0px; width: auto; float: none;">
            <br>
            <p class="promo-tank_description">Blitz Classic - маленькое ответвление от серии модификаций «WoT это
                Классика!» с большими амбициями.</p>
            <p>Но для начала, давайте познакомимся.</p>
            <div>
                <h1 class="heading-1 heading-1__tank-name" style="float: left;">Что это за проект?</h1>
                <div class="promo-tank_column promo-tank_column__second" style="padding-left: 0px; width: auto; float: left; text-align: left;">
                    <br>
                    <p class="promo-tank_description">Blitz Classic - маленькое ответвление от серии модификаций «WoT это
                        Классика!» с большими амбициями.</p>
                </div>
            </div>
            <span class="t-app-general_platform" style="padding-left: 0px;">
                <a class="medium-button medium-button__android" style="margin: 0 8px 16px 0px;" href="{{ data.link1 }}">
                    <span class="medium-button_text">Загрузите на<span class="medium-button_store-name">Windows</span>
                    </span>
                </a>
            </span>
            </span>
            <span class="t-app-general_platform" style="padding-left: 0px;">
                <a class="medium-button medium-button__android" style="margin: 0 8px 16px 0px;" href="{{ data.link2 }}">
                    <span class="medium-button_text">Загрузите на<span class="medium-button_store-name">Android</span>
                    </span>
                </a>
            </span>
            </span>
            </span>
        </div>
        <div class="b-app-general" style="text-align: center;">
            <table class="t-app-general">
                <span class="tank-info" style="text-align: center;">
                    <span class="t-app-general_platform">
                        <img src="{{ '/assets/img/bwin.png' | relative_url }}" alt="Windows PC">
                    </span>
                    <span class="t-app-general_platform">
                        <img style="height: 39px; width: 41px; margin-left: -26px; margin-bottom: -5px;"
                            src="{{ '/assets/img/android.png' | relative_url }}" alt="Windows PC">
                    </span>
            </table>
            <img class="b-software-list_img" style="float: none;"
                src="{{ '/assets/img/mods/sounds/old_gun_sounds.png' | relative_url }}">
            <h2 style="text-align: center;">ПОЗНАКОМЬТЕСЬ С ЭТИМ МИРОМ БЛИЖЕ</h2>
            <div class="container container__inner-page container__tankopedia" style="padding: 0px; margin-top: -40px;">
                <div class="tankopedia">
                    <div class="nation-select" style="float: none;text-align: center;margin: 0 auto;width: 380px;">
                        <ul class="nation-select_list js-nation-select-list" style="display: flex;">
                            <p class="nation-select_item" style="margin-top: 25px;">
                                <a class="nation-select_link nation-select_link__usa"
                                    href="{{ '/mods' | relative_url }}">Рестайлинги</a>
                            </p>
                            <p class="nation-select_item" style="margin-left: 10px; margin-right: 10px;">
                                <a class="nation-select_link nation-select_link__ussr"
                                    href="{{ '/mods/sounds' | relative_url }}">Звуковые моды</a>
                            </p>
                            <p class="nation-select_item">
                                <a class="nation-select_link nation-select_link__germany"
                                    href="{{ '/mods/hangars' | relative_url }}">Ангары</a>
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span
    style="background-image: url(./img/hangar.png); background-size: 40px; background-position: center; display: inline-block;"
    class="tank-info_type tank-info_type__heavytank">heavyTank</span>