---
layout: default
---

<div class="container container__inner-page container__tankopedia">
    <h1 class="heading-1">Моды</h1>
    <div class="tankopedia">
        <div class="nation-select">
            <ul class="nation-select_list js-nation-select-list">
                <li class="nation-select_item nation-select_item__current">
                    <a class="nation-select_link nation-select_link__usa" href="mods.html">Рестайлинги</a>
                </li>
                <li class="nation-select_item">
                    <a class="nation-select_link nation-select_link__ussr" href="mod-sound.html">Звуковые моды</a>
                </li>
            </ul>
        </div>
        <div class="tankopedia_content">
            <div class="tankopedia_item tankopedia_item__opened js-tankopedia-item"
                data-opened-class="tankopedia_item__opened">
                <div class="tankopedia_title">
                    <span class="tankopedia_type tankopedia_type__heavytank" style="
    background-image: url(./img/maps.png);
    background-size: 24px;
    background-position: center;
">heavytank</span>
                    <h3 class="tankopedia_heading">Рестайлинги</h3>
                </div>
                <div class="tankopedia_vehicles">
                    <p>Универсальная версия ремоделинга, обычно в таких модификациях изменяются текстуры карт/ангаров.
                    </p>
                    <ul class="vehicles-list">
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="https://forblitz.ru/map-restylings/restailing-vechernie-vinogradniki/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="./img/old_italy.jpg" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Вечерние «Виноградники»</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item">
                            <a class="vehicles-list_link" href="https://iblitzmods.ru/mods/366-old_middelburg.html">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="./img/oldmid.png" alt="Old Mid">
                                </span>
                                <span class="vehicles-list_text">Старый «Миддлбург»</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item">
                            <a class="vehicles-list_link"
                                href="https://iblitzmods.ru/mods/352-restajling-karty-vechernij-baltijskij-schit.html">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="./img/hallrock.png" alt="Hell Rockfield">
                                </span>
                                <span class="vehicles-list_text">Вечерний «Балтийский щит»</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="hhttps://forblitz.ru/map-restylings/misticheskii-baltiiskii-shchit/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="./img/Halloween_Rockfield_2.0.png"
                                        alt="Halloween_Rockfield_2.0">
                                </span>
                                <span class="vehicles-list_text">Мистический «Балтийский щит»</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
