---
layout: default
---

<style>
    .tankopedia_item {
        border-top: 1px solid rgba(81, 81, 81, 0.3);
        border-top: 0;
        padding-top: 0;
        padding: 0px 0 0px;
        -webkit-transform: translateZ(0);
    }
    h3 {
        font-family: "WarHeliosCondC", "Arial Narrow", Arial, sans-serif;
        font-stretch: normal;
        font-size: 21px;
        color: #fff;
        font-weight: normal;
        margin: 0px;
        padding: 0;
    }
    ul li {
        margin-bottom: 0px;
        padding-left: 0px;
        background: none;
    }
</style>

<div class="container container__inner-page container__tankopedia">
    <h1 class="heading-1">Моды</h1>
    <div class="tankopedia">
        <div class="nation-select">
            <ul class="nation-select_list js-nation-select-list">
                <li class="nation-select_item">
                    <a class="nation-select_link nation-select_link__usa" href="{{ '/mods' | relative_url }}">Рестайлинги</a>
                </li>
                <li class="nation-select_item">
                    <a class="nation-select_link nation-select_link__ussr" href="{{ '/mods/sounds' | relative_url }}">Звуковые моды</a>
                </li>
                <li class="nation-select_item nation-select_item__current">
                    <a class="nation-select_link nation-select_link__germany" href="{{ '/mods/hangars' | relative_url }}">Ангары</a>
                </li>
            </ul>
        </div>
        <div class="tankopedia_content" style="top: 4px; margin-left: 170px; margin-top: 0; position: relative;">
            <div class="tankopedia_item tankopedia_item__opened js-tankopedia-item"
                data-opened-class="tankopedia_item__opened">
                <div class="tankopedia_title">
                    <span class="tankopedia_type tankopedia_type__heavytank" style="background-image: url({{ '/assets/img/mods/category/hangar.png' | relative_url }}); background-size: 24px; background-position: center;">heavytank</span>
                    <h3 class="tankopedia_heading">Ангары</h3>
                </div>
                <div class="tankopedia_vehicles">
                    <p>Неотъемлемой частью игры является ангар, место, где игрок обслуживает свою технику, производит различные покупки и т.д.</p>
                    <ul class="vehicles-list">
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="{{ '/mods/hangars/basic-hangar' | relative_url }}">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/basic.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Старый базовый ангар</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="{{ '/mods/hangars/9mayhangar' | relative_url }}">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/9mayhangar.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">9 мая</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="{{ '/mods/hangars/hell15' | relative_url }}">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/hell2015.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Хэллоуин 2014/15</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="{{ '/mods/hangars/hell16' | relative_url }}">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/hell2016.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Хэллоуин 2016</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="https://forblitz.ru/map-restylings/restailing-vechernie-vinogradniki/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/hell2017.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Хэллоуин 2017</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="https://forblitz.ru/map-restylings/restailing-vechernie-vinogradniki/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/hell2018.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Хэллоуин 2018/20</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="https://forblitz.ru/map-restylings/restailing-vechernie-vinogradniki/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/hell2019.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Хэллоуин 2019</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="https://forblitz.ru/map-restylings/restailing-vechernie-vinogradniki/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/hell2021.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Хэллоуин 2021</span>
                            </a>
                        </li>
                        <li class="vehicles-list_item vehicles-list_item">
                            <a class="vehicles-list_link js-tooltip js-tooltip-id_js-premium_tooltip"
                                href="https://forblitz.ru/map-restylings/restailing-vechernie-vinogradniki/">
                                <span class="vehicles-list_picture">
                                    <img class="vehicles-list_img" src="{{ '/assets/img/mods/hangar/hell2022.png' | relative_url }}" alt="italy">
                                </span>
                                <span class="vehicles-list_text">Хэллоуин 2022</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
