---
layout: default
---
<div class="container">
    <div class="r-content">
        <div class="news-picture"
            style="background-image: url({{ page.image | default: '/assets/img/announcement.png' | relative_url }});">
        </div>
        <div class="social-inner">
            <div class="share share__left">
                <div class="addthis_toolbox addthis_default_style ">
                    <div class="b-share_theme_counter">
                        <span class="b-share">
                            <span class="b-share-btn__wrap">
                                <a title="OpenVK" class="b-share__handle b-share__link b-share-btn__facebook" href="https://openvk.su/mrb">
                                    <span class="b-share-icon b-share-icon_facebook"></span>
                                    <span class="b-share-counter"></span>
                                </a>
                            </span>
                            <span class="b-share-btn__wrap">
                                <a title="Telegram" class="b-share__handle b-share__link b-share-btn__twitter" href="https://t.me/mr_bendy">
                                    <span class="b-share-icon b-share-icon_twitter"></span>
                                    <span сlass="b-share-counter"></span>
                                </a>
                            </span>
                            <span class="b-share-btn__wrap">
                                <a title="VepurOVK" class="b-share__handle b-share__link b-share-btn__gplus" href="https://vepurovk.xyz/mb">
                                    <span class="b-share-icon b-share-icon_gplus"></span>
                                    <span class="b-share-counter"></span>
                                </a>
                            </span>
                            <span class="b-share-btn__wrap">
                                <a title="ВКонтакте" class="b-share__handle b-share__link b-share-btn__vkontakte" href="https://vk.com/mr.bendy">
                                    <span class="b-share-icon b-share-icon_vkontakte"></span>
                                    <span class="b-share-counter"></span>
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <span class="forum-discuss">
                <a class="forum-discuss_link"
                    href="https://forum.iblitzmods.ru/topic/325-blitz-classic-lampovyy-world-of-tanks-blitz">Обсудить на форуме</a>
            </span>
        </div>
        {% assign category_names = category_names | append: "Важные новости|Все новости" %}
        {% assign category_urls = category_urls | append: "/news/important|/news" %}
        {% assign category_names = category_names | split: "|" %}
        {% assign category_urls = category_urls | split: "|" %}
        {% include important_categories-sidebar.html %}
    </div>
    <div class="l-content">
        <h1 class="heading-1 heading-1__news-page" style="margin: 0px 0 30px;">{{ page.title }}
            {% assign category = page.categories[0] %}
            <div class="news-time">{{ page.date | date: "%d.%m.%Y" }} / {{ site.data.categories[category] }}</div>
        </h1>
        <div class="news-content">
            <div class="b-content">
                {{ content }}
                <div class="social-inner social-inner__mobile">
                    <div class="share share__left">
                        <div class="addthis_toolbox addthis_default_style ">
                            <div class="b-share_theme_counter">
                                <span class="b-share">
                                    <span class="b-share-btn__wrap">
                                        <a class="b-share__handle b-share__link b-share-btn__facebook"
                                            href="https://openvk.su/mrb">
                                            <span class="b-share-icon b-share-icon_facebook"></span>
                                            <span class="b-share-counter"></span>
                                        </a>
                                    </span>
                                    <span class="b-share-btn__wrap">
                                        <a class="b-share__handle b-share__link b-share-btn__twitter"
                                            href="https://t.me/mr_bendy">
                                            <span class="b-share-icon b-share-icon_twitter"></span>
                                            <span class="b-share-counter"></span>
                                        </a>
                                    </span>
                                    <span class="b-share-btn__wrap">
                                        <a class="b-share__handle b-share__link b-share-btn__gplus"
                                            href="https://vepurovk.xyz/mb">
                                            <span class="b-share-icon b-share-icon_gplus"></span>
                                            <span class="b-share-counter"></span>
                                        </a>
                                    </span>
                                    <span class="b-share-btn__wrap">
                                        <a class="b-share__handle b-share__link b-share-btn__vkontakte"
                                            href="https://vk.com/mr.bendy">
                                            <span class="b-share-icon b-share-icon_vkontakte"></span>
                                            <span class="b-share-counter"></span>
                                        </a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="forum-discuss">
                        <a class="forum-discuss_link" href="https://web.archive.org/web/20151025175129/http://forum.wotblitz.ru/index.php?/topic/26434-">Обсудить на форуме</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>